<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />
  {{ content_for_header }}
  {{ 'site.css' | asset_url | stylesheet_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <header id="header">
    <h1 class="u-visuallyhidden">{{ shop.name }}</h1>
    <nav id="header-nav" class="grid-row">
      <div class="grid-item item-s-3 text-align-center">
        Menu
      </div>
      <div class="grid-item flex-grow text-align-center">
        INNW
      </div>
      <div class="grid-item item-s-3 text-align-center">
        <a href="/cart">Cart</a>
      </div>
    </nav>
    <nav id="menu-nav" class="grid-column">
      <div class="grid-item text-align-center">
        <a href="/">Shop</a>
      </div>
      <div class="grid-item text-align-center">
        <a href="/pages/program">Program</a>
      </div>
      <div class="grid-item text-align-center">
        <a href="/blogs/donations">Donations</a>
      </div>
      <div class="grid-item text-align-center">
        <a href="/pages/about">About</a>
      </div>
      {% if settings.contact_instagram != blank %}
      <div class="grid-item text-align-center">
        <a href="https://instagram.com/{{ settings.contact_instagram }}">Instagram</a>
      </div>
      {% endif %}
    </nav>
  </header>

  {{ content_for_layout }}

  <footer id="footer">
  </footer>

  {% if template == 'product' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'library.js'  | asset_url | script_tag }}
  {{ 'main.js'  | asset_url | script_tag }}
</body>
</html>
