<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />
  {{ content_for_header }}
  {{ 'site.css' | asset_url | stylesheet_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <header id="header" class="font-uppercase">
    <div class="container">
      <h1 class="u-visuallyhidden">{{ shop.name }}</h1>
      <nav id="header-nav" class="grid-row border-bottom">
        <div class="grid-item item-s-3 text-align-center padding-top-small padding-bottom-small border-right  js-menu-toggle u-pointer">
          <img src="{{ 'hamburger.png' | asset_url }}" class="icon menu-open" />
          <img src="{{ 'exit_menu.png' | asset_url }}" class="icon menu-close" />
        </div>
        <a href="/" class="grid-item flex-grow padding-top-small padding-bottom-small text-align-center">
          <img src="{{ 'INNW_Logo.png' | asset_url }}" class="icon" />
        </a>
        <a href="/cart" class="grid-item item-s-3 text-align-center padding-top-small padding-bottom-small border-left grid-row justify-center align-items-center">
          <img src="{{ 'shopping_cart.png' | asset_url }}" class="icon" />
          <span id="cart-count">{{ cart.item_count }}</span>
        </a>
      </nav>
      <nav id="menu-nav-holder" class="grid-row">
        <div id="menu-nav" class="grid-item item-s-12 item-l-3 no-gutter grid-column justify-between full-height">
          <div class="grid-item no-gutter grid-row text-align-center">
            <a href="/" class="grid-item item-s-12 no-gutter padding-top-small padding-bottom-small border-bottom">
              Shop
            </a>
            <a href="/blogs/program" class="grid-item item-s-12 no-gutter padding-top-small padding-bottom-small border-bottom">
              Program
            </a>
            <a href="/blogs/donations" class="grid-item item-s-12 no-gutter padding-top-small padding-bottom-small border-bottom">
              Donations
            </a>
            <a href="/pages/about" class="grid-item item-s-12 no-gutter padding-top-small padding-bottom-small border-bottom">
              About
            </a>
          </div>
          {% if settings.contact_instagram != blank %}
          <div class="grid-item padding-top-small padding-bottom-small text-align-center">
            <a href="https://instagram.com/{{ settings.contact_instagram }}"><img src="{{ 'instagram.png' | asset_url }}" class="icon" /></a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>

  <main id="main-content">
    {{ content_for_layout }}
  </main>

  <footer id="footer">
  </footer>

  {% if template == 'product' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'library.js'  | asset_url | script_tag }}
  {{ 'main.js'  | asset_url | script_tag }}
</body>
</html>
