<section id="page-about">
  <div class="container">
    <div class="grid-row">
      <div class="grid-item item-s-12 border-bottom padding-top-small padding-bottom-small">
        <h1 class="font-size-mid text-align-center font-uppercase">{{ page.title }}</h1>
      </div>
    </div>
    <div class="grid-row full-height">
      <div class="grid-item item-s-12 item-l-6 grid-row no-gutter border-right-half">
        <div id="page-about-content" class="grid-item item-s-10 offset-s-1 padding-top-small">
          {{ page.content }}
        </div>
      </div>
      <div class="grid-item item-s-12 item-l-6 grid-row no-gutter border-left-half">
        <div id="page-about-contact" class="grid-item item-s-10 offset-s-1 padding-top-small padding-bottom-small">
          {% if settings.contact_email != blank %}
          <h2 class="font-uppercase">General Inquiries</h2>
          <p>
            <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
          </p>
          {% endif %}
          {% if settings.contact_address != blank %}
          <p>
            {{ settings.contact_address | newline_to_br }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
