<section id="product" class="font-uppercase details-active">
  <div class="container">
    <div id="product-row" class="grid-row full-height">
      <div class="grid-item item-s-12 item-l-6 grid-column no-gutter border-left-half">
        <div class="grid-item border-bottom padding-top-small padding-bottom-small">
          <h1 class="font-size-mid text-align-center">{{ product.title }}</h1>
        </div>
        {% if product.images.size > 1 %}
        <div id="product-gallery-holder" class="grid-item no-gutter flex-grow padding-top-small padding-bottom-small grid-row justify-center align-items-center">
          <div class="grid-item item-s-12 no-gutter">
            <div id="product-gallery">
            {% for image in product.images %}
              <div class="product-gallery-item">
                <img class="product-gallery-image" src="{{ image.src | img_url: '300x', format: 'pjpg' }}" alt="{{ product.title | escape }}"
                srcset="
                {% if image.width >= 300 %}{{ image.src | img_url: '300x' }} 240w{% endif %}
                {% if image.width >= 720 %},{{ image.src | img_url: '720x' }} 720w{% endif %}
                {% if image.width >= 1000 %},{{ image.src | img_url: '1000x' }} 1000w{% endif %}
                "
                width="{% if image.width >= 1000 %}1000{% else %}{{ image.width }}{% endif %}"
                />
              </div>
            {% endfor %}
            </div>
            <img src="{{ 'product_left.png' | asset_url }}" class="gallery-arrow gallery-prev" />
            <img src="{{ 'product_right.png' | asset_url }}" class="gallery-arrow gallery-next" />
          </div>
        </div>
        {% endif %}
      </div>

      <div id="product-details-column" class="grid-item item-s-12 item-l-6 grid-column no-gutter align-items-start border-right-half">

        <div id="product-details-holder" class="grid-item no-gutter grid-column">
          <div id="product-details-header" class="grid-item border-bottom padding-top-small padding-bottom-small grid-row no-gutter js-toggle-details align-items-center font-size-mid">
            <div class="grid-item item-s-6 offset-s-2">
              <h2 class="font-size-mid">Product Details</h2>
            </div>
            <div class="grid-item item-s-2 dropdown-icon-holder">
              <img src="{{ 'drop_down.png' | asset_url }}" class="icon-small show-details" />
              <span class="hide-details">—</span>
            </div>
          </div>

          <div id="product-details" class="grid-item grid-row align-items-center padding-top-basic padding-bottom-basic">
            <div class="grid-item no-gutter item-s-8 offset-s-2">
              {{ product.description }}
            </div>
          </div>
        </div>

        <form id="cart-form" class="grid-item no-gutter grid-row font-size-mid" action="/cart/add" method="post" enctype="multipart/form-data">
          <div class="grid-item item-s-2 dropdown-icon-holder select-icon-holder">
            <img src="{{ 'drop_down.png' | asset_url }}" class="icon-small" />
          </div>

          <select id="product-select" name="id">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }}</option>
          {% endfor %}
          </select>
          <input id="add-to-cart" class="grid-item item-s-6 button-black disabled padding-top-basic padding-bottom-basic font-uppercase border-left font-mono font-size-mid" type="submit" name="add" id="add" value="Add to Cart" disabled="disabled">
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  var productJson = {{ product | json }};
</script>
